---
import MobileMenu from "./MobileMenu.astro";
import SubscribeButton from "./SubscribeButton.astro";
---

<main class="flex justify-between items-center mx-5 mt-3">
    <section class="ml-1">
        <img src="/assets/brand/logowhiteupdated.png" alt="logo" height="110px" width="110px">
    </section>
    <section class="flex space-x-5 mt-2">
        <SubscribeButton />
        <MobileMenu />
    </section>
</main>